absl-py==1.4.0
aiofile==3.11.1
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.11.16
aiosignal==1.3.1
aistudio-sdk==0.3.8
albucore==0.0.20
albumentations==1.4.21
alembic==1.15.1
altair==5.4.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.13.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
assemblyai==0.41.1
asteroid-filterbanks==0.4.0
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.3
async-timeout==4.0.3
asyncer==0.0.8
asyncpg==0.29.0
attrs==23.1.0
audioread==3.0.1
auth0-python==4.9.0
Authlib==1.7.2
autogen==0.7.5
aws==0.2.5
awscli==1.45.21
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
backports.tarfile==1.2.0
bce-python-sdk==0.9.63
bcrypt==4.0.1
beartype==0.22.9
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.9.0
boto==2.49.0
boto3==1.43.51
botocore==1.43.51
branca==0.8.1
build==1.2.2
cachetools==5.3.1
caio==0.9.25
catboost==1.2.8
certifi==2023.7.22
cffi==2.0.0
cftime==1.6.4.post1
chardet==7.0.1
charset-normalizer==3.2.0
chroma-hnswlib==0.7.6
click==8.3.1
click-default-group==1.2.4
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
colorlover==0.3.0
comm==0.1.3
contourpy==1.1.1
crewai==0.114.0
cryptography==48.0.0
cufflinks==0.17.3
cycler==0.11.0
cyclopts==4.16.1
dataclasses-json==0.6.7
dateparser==1.2.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diskcache==5.6.3
distlib==0.3.7
distro==1.9.0
dj-database-url==2.2.0
Django==5.0.7
django-admin-cli==0.1.1
django-deep-serializer==0.1.3
django-environ==0.11.2
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
docker==7.1.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.19
dotenv==0.9.9
drf-yasg==1.21.10
duckduckgo-search==0.8
ecdsa==0.19.0
efficientnet-pytorch==0.7.1
einops==0.8.1
email-validator==2.3.0
env==0.1.0
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup==1.3.1
executing==1.2.0
fabric==3.2.3
faiss-cpu==1.10.0
Farama-Notifications==0.0.4
fast-depends==2.4.12
fastapi==0.115.8
fastjsonschema==2.18.0
fastmcp==3.3.1
fastmcp-slim==3.3.1
ffmpeg-python==0.2.0
filelock==3.12.4
Flask==3.0.1
flatbuffers==24.3.25
folium==0.19.4
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.9.0
future==1.0.0
gast==0.4.0
geopandas==1.0.1
git-filter-repo==2.47.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.38.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
graphviz==0.21
greenlet==3.1.0
griffelib==2.0.2
groq==0.37.1
grpcio==1.66.1
gunicorn==22.0.0
gymnasium==1.0.0
h11==0.16.0
h5py==3.12.1
htmlmin==0.1.12
httpcore==1.0.9
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface_hub==0.36.2
humanfriendly==10.0
HyperPyYAML==1.2.2
idna==3.4
ImageHash==4.3.1
imagesize==2.0.0
imbalanced-learn==0.13.0
importlib_metadata==8.4.0
importlib_resources==6.4.5
inflection==0.5.1
iniconfig==2.0.0
instructor==1.7.9
invoke==2.2.1
ipinfo==5.1.1
ipykernel==6.24.0
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
jedi==0.18.2
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.1.0
joblib==1.4.2
joserfc==1.6.8
json5==0.12.0
json_repair==0.41.1
jsonpatch==1.33
jsonpickle==4.0.5
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-path==0.5.0
jsonschema-specifications==2023.7.1
jsonwebtoken==1.0.0
julius==0.2.7
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.23.0
keyring==25.7.0
kiwisolver==1.4.5
kubernetes==30.1.0
langchain==0.1.17
langchain-community==0.0.36
langchain-core==1.4.0
langchain-groq==1.1.2
langchain-protocol==0.0.16
langchain-text-splitters==0.0.2
langgraph==1.2.2
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.3.9
langsmith==0.8.7
lazy_loader==0.4
libclang==16.0.6
librosa==0.11.0
lightgbm==4.1.0
lightning==2.5.1.post0
lightning-utilities==0.14.3
litellm==1.60.2
llvmlite==0.44.0
loguru==0.7.3
lxml==5.3.0
Mako==1.3.9
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.26.1
matplotlib==3.8.0
matplotlib-inline==0.1.6
mcp==1.27.1
mcp-server-servicenow==0.5.1
mdurl==0.1.2
missingno==0.5.2
mistune==3.0.1
mmh3==4.1.0
modelscope==1.34.0
monotonic==1.6
more-itertools==10.7.0
motor==3.7.0
mpmath==1.3.0
msal==1.34.0
msgpack==1.1.0
multidict==6.1.0
multimethod==1.12
munch==4.0.0
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.9.3
nbclient==0.8.0
nbconvert==7.16.4
nbformat==5.9.1
nest-asyncio==1.5.6
netCDF4==1.7.2
networkx==3.1
nltk==3.8.1
notebook==7.0.0
notebook_shim==0.2.3
numba==0.61.2
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.19.2
openai==1.75.0
openai-whisper==20240930
openapi-pydantic==0.5.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.32.0
opentelemetry-exporter-otlp-proto-common==1.32.0
opentelemetry-exporter-otlp-proto-grpc==1.32.0
opentelemetry-exporter-otlp-proto-http==1.32.0
opentelemetry-instrumentation==0.53b0
opentelemetry-instrumentation-asgi==0.53b0
opentelemetry-instrumentation-fastapi==0.53b0
opentelemetry-proto==1.32.0
opentelemetry-sdk==1.32.0
opentelemetry-semantic-conventions==0.53b0
opentelemetry-util-http==0.53b0
opt-einsum==3.3.0
optree==0.13.0
optuna==4.3.0
orjson==3.11.7
ormsgpack==1.12.2
overrides==7.3.1
packaging==26.2
paddleocr==3.4.0
paddlepaddle==3.3.0
paddlex==3.4.2
pandas==2.2.3
pandas-profiling==3.2.0
pandocfilters==1.5.0
paramiko==5.0.0
parso==0.8.3
passlib==1.7.4
pathable==0.6.0
pdfminer.six==20250327
pdfplumber==0.11.6
phik==0.12.4
pickleshare==0.7.5
Pillow==10.0.1
platformdirs==4.10.0
plotly==5.18.0
pluggy==1.5.0
pooch==1.8.2
posthog==3.6.6
pretrainedmodels==0.7.4
prettytable==3.17.0
primePy==1.3
primp==0.14.0
prometheus-client==0.17.1
prometheus-fastapi-instrumentator==7.0.2
prompt-toolkit==3.0.39
propcache==0.3.1
protobuf==5.29.4
psutil==5.9.5
psycopg2==2.9.9
psycopg2-binary==2.9.9
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-key-value-aio==0.4.5
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==17.0.0
pyasn1==0.4.8
pyasn1-modules==0.3.0
PyAudio==0.2.13
pyautogen==0.7.5
pyclipper==1.4.0
pycparser==2.21
pycryptodome==3.22.0
pydantic==2.12.5
pydantic-settings==2.14.1
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
Pygments==2.15.1
PyJWT==2.13.0
pymongo==4.11.1
PyMySQL==1.1.1
PyNaCl==1.6.2
pyngrok==8.1.2
pyogrio==0.10.0
pyparsing==3.1.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.11.0
PyPika==0.48.9
pyproj==3.7.0
pyproject_hooks==1.1.0
pyreadline3==3.5.2
pytest==8.3.5
python-bidi==0.6.7
python-binance==1.0.28
python-dateutil==2.8.2
python-docx==1.2.0
python-dotenv==1.2.2
python-jose==3.4.0
python-json-logger==2.0.7
python-magic==0.4.13
python-magic-win64==0.4.13
python-multipart==0.0.29
python-pptx==1.0.2
pytorch-lightning==2.5.1.post0
pytorch-metric-learning==2.8.1
pytz==2025.2
pyvis==0.3.2
PyWavelets==1.7.0
pywin32==311
pywin32-ctypes==0.2.3
pywinpty==2.0.11
PyYAML==6.0.2
pyzmq==25.1.0
qtconsole==5.4.4
QtPy==2.4.0
redis==5.0.8
referencing==0.30.0
regex==2024.11.6
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==15.0.0
rich-rst==2.0.1
rpds-py==0.9.2
rsa==4.7.2
ruamel.yaml==0.18.12
ruamel.yaml.clib==0.2.12
s3transfer==0.19.1
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.12.2
secure==0.3.0
secure-smtplib==0.1.1
segmentation-models-pytorch==0.3.4
semver==3.0.4
Send2Trash==1.8.2
sentence-transformers==5.2.3
sentencepiece==0.2.0
shap==0.48.0
shapely==2.0.6
shellingham==1.5.4
simsimd==6.0.5
six==1.16.0
sklearn==0.0.post9
sklearn-compat==0.1.3
slicer==0.0.8
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.4.1
soxr==0.5.0.post1
speechbrain==1.0.3
SpeechRecognition==3.14.3
SQLAlchemy==2.0.34
SQLAlchemy-Utils==0.41.2
sqlglot==30.17.0
sqlite-fts4==1.0.3
sqlite-utils==3.39
sqlmodel==0.0.18
sqlparse==0.4.4
sse-starlette==3.0.3
stable_baselines3==2.4.0
stack-data==0.6.2
starlette==0.45.3
streamlit==1.39.0
streamlit_folium==0.24.0
stringzilla==3.10.10
sympy==1.14.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tavily-python==0.5.4
tenacity==8.5.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
tensorflow-estimator==2.13.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
textblob==0.17.1
threadpoolctl==3.2.0
tiktoken==0.9.0
timm==0.9.7
tinycss2==1.2.1
tldextract==5.1.3
tokenizers==0.21.0
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
torch==2.7.0
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchaudio==2.7.0
torchmetrics==1.7.2
torchvision==0.15.2
tornado==6.3.2
tqdm==4.66.1
traitlets==5.9.0
transformers==4.49.0
typer==0.12.5
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
tzlocal==5.3.1
ucimlrepo==0.0.2
ujson==5.11.0
uncalled-for==0.3.2
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.4.0
uuid_utils==0.14.1
uv==0.6.14
uvicorn==0.48.0
virtualenv==20.25.0
virtualenvwrapper-win==1.2.7
visions==0.7.4
watchdog==5.0.3
watchfiles==1.2.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==16.0
Werkzeug==3.0.4
whisper==1.1.10
whitenoise==6.7.0
widgetsnbextension==4.0.9
win32_setctime==1.2.0
wordcloud==1.9.2
wrapt==1.15.0
xarray==2024.11.0
xgboost==2.0.0
xlsxwriter==3.2.5
xxhash==3.6.0
xyzservices==2025.1.0
yarl==1.19.0
zenml==0.84.0
zipp==3.20.2
zstandard==0.23.0
